<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prod.sudesi.lotusherbalsnew">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <supports-screens android:xlargeScreens="true" />
    <supports-screens android:resizeable="true" />
    <supports-screens android:largeScreens="true" />
    <supports-screens android:anyDensity="true" />
    <supports-screens
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".Activity.TestApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LotusMainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.littlefluffytoys.littlefluffylocationlibrary.LocationBroadcastService" />

        <receiver
            android:name="com.littlefluffytoys.littlefluffylocationlibrary.StartupBroadcastReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.littlefluffytoys.littlefluffylocationlibrary.PassiveLocationChangedReceiver"
            android:exported="true" />
        <receiver android:name=".Activity.TestBroadcastReceiver" >
            <intent-filter>
                <action
                    android:name="com.android.lotusherbal.littlefluffylocationlibrary.LOCATION_CHANGED"
                    android:exported="false" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".Activity.AttendanceActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activity.DashBoardActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activity.SyncMasterActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activity.ChangePasswordActivity"
            android:label="ChangePassword"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activity.NotificationActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activity.BocDashBoardActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activity.TotalOutletSaleActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activity.StockActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.OutletAttendanceActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activity.ReportActivity"
            android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name=".Activity.BocCumulativeDashboardActivity"
            android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name=".Activity.StockAllActivity"
            android:screenOrientation="landscape" >
        </activity>

    </application>

</manifest>